<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Сибирско здраве Монтана{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <!--[if ie]>
    <meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
    <!-- bootstrap -->
    <link href="{{ asset('styles/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('styles/bootstrap/css/bootstrap-responsive.min.css') }}" rel="stylesheet">
    <link href="{{ asset('styles/themes/css/bootstrappage.css') }}" rel="stylesheet"/>


    <!-- global styles -->
    <link href="{{ asset('styles/themes/css/flexslider.css') }}" rel="stylesheet"/>
    <link href="{{ asset('styles/themes/css/main.css') }}" rel="stylesheet"/>
    <link href="{{ asset('styles/themes/css/jquery.fancybox.css') }}" rel="stylesheet"/>

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway"/>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Amatic+SC"/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- end fonts-->

    <!-- scripts-->
    <script src="{{ asset('styles/themes/js/jquery-1.7.2.min.js') }}"></script>
    <script src="{{ asset('styles/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('styles/themes/js/superfish.js') }}"></script>
    <script src="{{ asset('styles/themes/js/jquery.scrolltotop.js') }}"></script>
    <script src="{{ asset('styles/themes/js/jquery.fancybox.js') }}"></script>


</head>
<!-- MUCH THANK YOU TO THE CREATORS OF THAT FREE TEMPLATE THAI I FOUND ON THE WEB
BACKEND IS CREATED BY Z-Computers http://yekimov-tech.com:8090
SO BLAME Z-Computers for the bad backend ==D JUST KIDDING
-->
<body>

{% if informator.getError %}
    <script>
        alert('{{ informator.getError }}');
    </script>
{% endif %}
<div id="wrapper" class="container">

    <div id="top-bar" class="container">
        <div class="row" id="base-layout-row">
            <div class="span4">
                <form method="POST" class="search_form" action="{{ path('search_product') }}">
                    <input id="search-field" name="searchText" type="text" class="input-block-level search-query"
                           Placeholder="Търсете лекарство">
                </form>
            </div>
            <div class="span8">
                <div class="account pull-right">
                    <ul class="user-menu">
                        {% if app.user %}
                            <li class="notification-icon-holder">
                                <i class="material-icons custom-message-icon" id="notification-icon">sms<span
                                            class="tiny-badge"></span></i>
                                <div id="hidden-noti-bar">

                                </div>
                            </li>

                            <script>
                                $(function () {
                                    var notificationIcon = document.getElementById('notification-icon');

                                    var NotificationModalManager = (function () {
                                        var notificationBar = document.getElementById('hidden-noti-bar');

                                        //private methods
                                        function hasClickedOnParentChild(children, event) {
                                            var isCl = false;
                                            for (var i = 0; i < children.length; i++) {
                                                if (children[i] == event.target)
                                                    isCl = true;
                                            }
                                            return isCl;
                                        }


                                        function fillNotificationBarWithData(htmlData) {
                                            $(notificationBar).html(htmlData);
                                            attachDynamicEvents();
                                        }

                                        function removeNotification(id) {
                                            $.ajax({
                                                type:"POST",
                                                url:"{{ path('remove_single_notification') }}",
                                                data:{notificationId:id},
                                                success:fillNotificationBarWithData,
                                                error:console.error
                                            });
                                        }

                                        function attachDynamicEvents() {
                                            $('#removeAllNotificationsBtn').on('click', NotificationModalManager.removeAllNotifications);
                                            $('.remove-noti-btn').on('click', function (event) {
                                                event.preventDefault();
                                                var id = $(this).attr('notificationId');
                                                removeNotification(id);
                                            });
                                        }


                                        //public methods
                                        function showOrHideForm() {
                                            if ($(notificationBar).css('display') == "none")
                                                $(notificationBar).show(100);
                                            else
                                                $(notificationBar).hide(100);
                                        }

                                        function onDocumentClick(event) {
                                            if (event.target !== notificationBar && event.target !== notificationIcon && !hasClickedOnParentChild(notificationBar.getElementsByTagName('*'), event))
                                                $(notificationBar).hide(100);
                                        }

                                        function update() {
                                            $.ajax({
                                                type: "POST",
                                                url: "{{ path('get_notifications') }}",
                                                success: fillNotificationBarWithData,
                                                error: console.error
                                            });
                                        }

                                        function removeAllNotifications() {
                                            $.ajax({
                                                type: "POST",
                                                url: "{{ path('remove_notifications') }}",
                                                success: fillNotificationBarWithData,
                                                error: console.error
                                            });
                                        }

                                        return {
                                            showOrHideForm: showOrHideForm,
                                            onDocumentClick: onDocumentClick,
                                            update: update,
                                            removeAllNotifications: removeAllNotifications
                                        };
                                    })();


                                    $(notificationIcon).on('click', NotificationModalManager.showOrHideForm);
                                    document.addEventListener('click', NotificationModalManager.onDocumentClick);
                                    NotificationModalManager.update();
                                    var clock = setInterval(NotificationModalManager.update, 1000);

                                });
                            </script>
                        {% endif %}
                        <li>
                            <a href="{{ path('profile_page') }}"> {% if app.user %}{{ app.user.username }} {% else %}Профил{% endif %}</a>
                        </li>
                        <li><a href="{{ path('shopping_cart') }}">
                                <div class="cart-notify-container" id="cart-noti-holder">
                                    Количка
                                    <span class="notify-bubble">1</span>
                                </div>
                            </a></li>
                        <li><a href="/">Закупуване</a></li>
                        {% if app.user %}
                            <li><a href="{{ path('security_logout') }}">Изход</a></li>
                        {% else %}
                            <li><a href="{{ path('security_login') }}">Вход</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <section class="navbar main-menu">
        <div id="top-main-menu" class="navbar-inner main-menu">
            <!-- asset('styles/themes/images/logo.png')  logo <img src="" class="site_logo" alt=""> -->
            <a id="logo-anchor" href="/" class="logo pull-left cookiefont">{{ informator.WEBSITE_NAME_PART_ONE }}
                <span>{{ informator.WEBSITE_NAME_PART_TWO }}</span></a>
            <nav id="menu" class="pull-right">
                <ul>
                    {% for category in informator.getMainCategories %}
                        <li><a href="{{ path('category_details',{'id':category.id}) }}">{{ category.categoryName }}</a>
                            <ul>
                                {% for subCat in category.getSubCategories() %}
                                    <li>
                                        <a href="{{ path('category_details', {'id':subCat.id}) }}">{{ subCat.categoryName }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>


    </section>


    {% block body %}{% endblock %}
    {% block footer %}
        <footer>
            <link rel="stylesheet" type="text/css"
                  href="{{ asset('styles/themes/css/footer-distributed-with-address-and-phones.css') }}">
            <section id="footer-bar">
                <div class="row">
                    <div class="span3">
                        <h4>Меню: </h4>
                        <ul class="nav">
                            <li><a href="/">Начало</a></li>
                            <li><a href="{{ path('contacts') }}">Контакти</a></li>
                            <li><a href="{{ path('shopping_cart') }}">Количка</a></li>

                            {% if app.user %}
                                <li><a href="{{ path('security_logout') }}">Изход</a></li>
                            {% else %}
                                <li><a href="{{ path('security_login') }}">Вход</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="span4">
                        <h4>Сибирско здраве Монтана: </h4>
                        <ul class="nav">
                            <li><a href="tel:1234567"><i class="fa fa-phone" aria-hidden="true"></i> 0878680118</a></li>
                            <li><a href="mailto:ceci2205@abv.bg"><i class="fa fa-map-marker" aria-hidden="true"></i>
                                    Монтана: Площад Славейков</a></li>
                            <li><a href="https://facebook.com" target="_blank"><i class="fa fa-facebook"
                                                                                  aria-hidden="true"></i> facebook</a>
                            </li>

                        </ul>
                    </div>
                    <div class="span5" id="logo-holder">
                        <p class="cookiefont">{{ informator.WEBSITE_NAME_PART_ONE }}
                            <span>{{ informator.WEBSITE_NAME_PART_TWO }}</span></p>
                        <p>Това е магазин за дрехи, играчки и др. Някой ден ще съм напълно сигурен за какво точно е този
                            магазин.
                            Междувременно заповядайте в сайта на Преттy Gal</p>
                        <br/>

                        <div class="footer-icons" id="cats">
                            {% for link in informator.getSocialLinks %}
                                <div style="display:inline-block; color: white;">
                                    <a href="{{ link.link }}" style="text-decoration: none;">
                                        <span class="fa {{ link.icon }}"></span></a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>
            <section id="copyright">
                <a href="http://yekimov-tech.com:8090" target="_blank">Z-Computers &copy; 2018 {{ ga_tracking }}</a>
            </section>
        </footer>  {% endblock %}

    <script src="{{ asset('styles/themes/js/common.js') }}"></script>
    <script src="{{ asset('styles/themes/js/jquery.flexslider-min.js') }}"></script>

    <script>
        $(function () {
            var menuId = $('#menu');
            var logoAnchor = $('#logo-anchor');
            var topMainMenu = $('#top-main-menu');

            $(window).on('resize', function () {
                adjustNavPositions();
            });

            function adjustNavPositions() {
                if (window.innerWidth < 1190) {
                    topMainMenu.css('text-align', 'center');
                    topMainMenu.css('height', '100px');
                    menuId.removeClass('pull-right');
                    menuId.css('position', 'relative');
                    logoAnchor.removeClass('pull-left');
                    logoAnchor.css('position', 'relative');

                } else {
                    topMainMenu.css('text-align', 'inherit');
                    topMainMenu.css('height', 'auto');
                    menuId.addClass('pull-right');
                    logoAnchor.css('position', 'absolute');
                }
            }

            adjustNavPositions();
        });
    </script>
    {% block javascripts %}{% endblock %}
</div>
</body>
</html>
