{% extends 'base.html.twig' %}

	{% block title %} {{ informator.websiteName }}: Начало{% endblock %}

    {% block body %}
        <section class="homepage-slider" id="home-slider">
            <div class="flexslider">
                <ul class="slides">
                    {% for banner in flexBanners %}
                        <li>
                            <img src="{{ asset(banner.fixedImgName) }}" alt=""/>
                            <div class="intro">
                                {% if banner.headerOne|length > 0 %}
                                    <h1>{{ banner.headerOne }}</h1>
                                {% endif %}
                                {% if banner.headerTwo|length > 0 %}
                                    <p><span>{{ banner.headerTwo }}</span></p>
                                {% endif %}
                                {% if banner.headerThree|length > 0 %}
                                    <p><span>{{ banner.headerThree }}</span></p>
                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>


        <section class="main-content">
            <div class="row">
                <div class="span12">
                    <div class="row">
                        <div class="span12">
                            <h4 class="title">
                                <span class="pull-left"><span class="text"><span
                                                class="line">Популярни <strong>Продукти</strong></span></span></span>
                                <span class="pull-right">
										<a class="left button" href="#myCarousel" data-slide="prev"></a><a
                                            class="right button" href="#myCarousel" data-slide="next"></a>
									</span>
                            </h4>
                            <div id="myCarousel" class="myCarousel carousel slide">
                                <div class="carousel-inner">
                                    <div class="active item">
                                        <ul class="thumbnails">
                                            {% for prod in trendingProds %}
                                                {% embed 'template-parts/product-medium-box.html.twig' %} {% endembed %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="item">
                                        <ul class="thumbnails">
                                            {% for prod in trendingProdsP2 %}
                                                {% embed 'template-parts/product-medium-box.html.twig' %} {% endembed %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="span12">
                            <h4 class="title">
                                <span class="pull-left"><span class="text"><span
                                                class="line">Нови <strong>Продукти</strong></span></span></span>
                                <span class="pull-right">
										<a class="left button" href="#myCarousel-2" data-slide="prev"></a><a
                                            class="right button" href="#myCarousel-2" data-slide="next"></a>
									</span>
                            </h4>
                            <div id="myCarousel-2" class="myCarousel carousel slide">
                                <div class="carousel-inner">
                                    <div class="active item">
                                        <ul class="thumbnails">
                                            {% for prod in newProds %}
                                                {% embed 'template-parts/product-medium-box.html.twig' %} {% endembed %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="item">
                                        <ul class="thumbnails">
                                            {% for prod in newProdsP2 %}
                                                {% embed 'template-parts/product-medium-box.html.twig' %} {% endembed %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <section class="our_client">
            <h4 class="title"><span class="text">Категории</span></h4>
            <div class="row categories-bottom">
                {% for category in informator.getMainCategories() %}
                    {% if category.id != 0 %}
                        <a href="{{ path('category_details', {id:category.id}) }}">
                            <div class="span1 category-box">
                                {{ category.categoryName|upper }}
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </section>



        <script type="text/javascript">
            $(function () {
                $(document).ready(function () {
                    $('.flexslider').flexslider({
                        animation: "fade",
                        slideshowSpeed: 4000,
                        animationSpeed: 600,
                        controlNav: false,
                        directionNav: true,
                        controlsContainer: ".flex-container" // the container that holds the flexslider
                    });
                });
            });
        </script>
    {% endblock %}
