{% extends 'base.html.twig' %}

{% block title %} {{ informator.websiteName }}: {{ searchText }} {% endblock %}

{% block body %}
    {% include 'template-parts/banner-generic.html.twig' with {'pageTitle': "Търсене за: " ~ searchText} %}

    <section class="main-content">
        <div class="row">

            <div class="span9">
                <ul class="thumbnails listing-products">
                    {% set catProdLen = products|length %}
                    {% for index in range(offset, informator.maxProductsPerPage * currentPage -1) %}
                        {% if catProdLen  -1 >= index %}
                            {% set prod = products[index] %}
                            {% embed 'template-parts/product-medium-box.html.twig' %} {% endembed %}
                        {% endif %}
                    {% endfor %}

                </ul>
                <hr>
                <div class=" pagination pagination-small pagination-centered">
                    <ul>

                        {% if currentPage > 1 %}
                            <li><a href="{{path('search_product', {"text":searchText, 'page':currentPage-1}) }}">Предишна</a></li>
                        {% endif %}
                        {% if allPages > 0 %}
                            {% for pageLink in range(1, allPages) %}
                                <li class="{% if pageLink == currentPage %}active{% endif %}">
                                    <a href="{{ path('search_product', {'text':searchText, 'page':pageLink}) }}">{{ pageLink }}</a>
                                </li>
                            {% endfor %}
                        {% else %}
                            <h4 class="alert alert-info">Не бяха намерени продукти</h4>
                        {% endif %}

                        {% if currentPage < allPages %}
                            <li><a href="{{path('search_product', {"text":searchText, 'page':currentPage+1}) }}">Следваща</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="span3 col">
                {% embed 'template-parts/randomizer.html.twig' %} {% endembed %}
                {% embed 'template-parts/best-sellers.html.twig' %} {% endembed %}
            </div>
        </div>
    </section>

{% endblock %}