{% extends 'base.html.twig' %}

{% block ogType %}product{% endblock %}
{% block ogUrl %}{{ domain }}{{ path('product_detail_simplified', {'id': product.id}) }}{% endblock %}
{% block ogDescription %} {{ product.properCategory.categoryName }} {% endblock %}
{% block ogTitle %} {{ product.title }} {% endblock %}
{% block ogImage %}{{ domain }}{{ asset(product.imgPathForFacebook) }}{% endblock %}


{% block title %} {{ informator.websiteName }}: {{ product.title }} {% endblock %}

{% block body %}




    {% include 'template-parts/banner-generic.html.twig' with {'pageTitle':product.title} %}

    <section class="main-content">
        <div class="row">
            <div class="span9">
                <div class="row">
                    <div class="span4">
                        <a href="{{ asset(product.imgPathForDisplay) }}" class="thumbnail"
                           data-fancybox-group="group1" title="{{ product.title }}"><img alt=""
                                                                                         src="{{ asset(product.imgPathForDisplay) }}"></a>

                    </div>
                    <div class="span5">
                        <address>
                            <strong>Категории: </strong>
                            <span>{{ product.getCategoriesNames }}</span><br>

                            <strong>Артикул &numero;: </strong> <span class="cookiefont">{{ product.id }}</span><br>
                            <strong>Наличност:</strong>
                            {% if product.quantity <= 0 %}
                            <span class=" alert-danger">Изчерпан</span>
                        {% else %}
                            <span class=" alert-success">В наличност</span>
                            {% endif %}<br>
                        </address>
                        <h4><strong>Цена: {{ product.priceForDisplay }}</strong></h4>
                    </div>
                    <div class="span5">
                        <form class="form-inline">
                            <div class="control-group">
                                <label>Количество:</label>
                                <input id="quantity" name="quantity" type="number" max="5" min="1" step="1"
                                       class="span1"
                                       placeholder="1" value="1" required>
                            </div>
                            {% if app.user %}
                                {% if informator.isUserAdmin(app.user) %}
                                    <a href="{{ path('edit_product') }}?productId={{ product.id }}">Edit</a>
                                {% endif %}
                            {% endif %}

                            <br>
                            <button id="addToCartButton" class="btn btn-inverse" type="button">Добави в количката
                            </button>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="span9">
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active"><a href="#home">Описание</a></li>
                            <li class=""><a href="#profile">Допълнителна информация</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="home">{{ product.description|raw }}</div>
                            <div class="tab-pane" id="profile">
                                <table class="table table-striped shop_attributes">
                                    <tbody>
                                    <tr class="alt">
                                        <th>Прод. код</th>
                                        <td>{{ product.sibirCode }}</td>
                                    </tr>
                                    <tr class="alt">
                                        <th>Производител</th>
                                        <td>{{ product.manufacturer }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="span9">
                        <br>
                        <h4 class="title">
                            <span class="pull-left"><span class="text"><strong>Сходни </strong> Продукти</span></span>
                            <span class="pull-right">
										<a class="left button" href="#myCarousel-1" data-slide="prev"></a><a
                                        class="right button" href="#myCarousel-1" data-slide="next"></a>
									</span>
                        </h4>
                        <div id="myCarousel-1" class="carousel slide">
                            <div class="carousel-inner">
                                <div class="active item">
                                    <ul class="thumbnails listing-products">
                                        {% for prod in relatedProdustsP1 %}
                                            {% embed 'template-parts/product-medium-box.html.twig' %} {% endembed %}
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="item">
                                    <ul class="thumbnails listing-products">
                                        {% for prod in relatedProdustsP2 %}
                                            {% embed 'template-parts/product-medium-box.html.twig' %} {% endembed %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span3 col">
                <div class="block">
                    <ul class="nav nav-list">
                        <li class="nav-header">Подкатегории</li>
                        <li class="active"><a
                                    href="{{ path('category_details',{'id':product.fatherCategory.id}) }}">{{ product.fatherCategory.categoryName }}</a>
                        </li>

                        {% for cat in product.fatherCategory.parentCategories %}
                            <li><a href="{{ path('category_details', {'id':cat.id}) }}">{{ cat.categoryName }}</a></li>
                        {% endfor %}

                    </ul>

                </div>
                {% embed 'template-parts/randomizer.html.twig' %}{% endembed %}
                {% embed 'template-parts/best-sellers.html.twig' %} {% endembed %}
            </div>
        </div>
    </section>


    <script>
        $(function () {
            $('#myTab a:first').tab('show');
            $('#myTab a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            })
        });
        $(document).ready(function () {
            $('.thumbnail').fancybox({
                openEffect: 'none',
                closeEffect: 'none'
            });

            $('#myCarousel-2').carousel({
                interval: 2500
            });
        });


    </script>
    {% block javascripts %}
        <script>
            $(function () {
                var queryResult = {'isDone': false, "data": null};
                $('#addToCartButton').unbind('click');

                $('#addToCartButton').on('click', (function (e) {
                        e.preventDefault();
                        var quantity = Number($('#quantity').val());
                        if (isNaN(quantity) || quantity !== Math.floor(quantity)) {
                            queryResult.data = "Невалидно число за количество!";
                            queryResult.isDone = true;
                            informUser();
                            return;
                        }
                        var size = $('#sizeSelect').find(":selected").text();

                        function callAjax() {
                            $.ajax({
                                url: "/addToCart/" + {{ product.id }} +"?quantity=" + quantity,
                                success: function (data) {
                                    triigerCartUpdate();
                                    queryResult.data = data;
                                    queryResult.isDone = true;
                                    informUser();
                                }
                            });
                        }

                        callAjax();
                    }
                ));

                function informUser() {
                    if (queryResult.isDone)
                        alert(queryResult.data);
                    queryResult.isDone = false;
                }
            });
        </script>
    {% endblock %}

{% endblock %}