<div class="address-medium clearfix">
    <div class="span5">
        <strong>{{ address.fullName }} - {{ address.phoneNumber }}</strong>
        <p>{{ address.address }}</p>
        <p>{{ address.residential }}, {{ address.townShip.townName }}</p>
    </div>

    <div id="address-action-btns" class="span5 pull-right" style="">
        <button class="btn btn-default">Редакция</button>
        <button class="btn btn-default">Изтриване</button>
    </div>
</div>