<div class="address-medium clearfix">
    <div class="span5">
        <strong>{{ address.fullName }} - {{ address.phoneNumber }}</strong>
        <p>{{ address.address }}</p>
        <p>{{ address.residential }}, {{ address.townShip.townName }}</p>
    </div>

    <div id="address-action-btns" class="span5 pull-right">
        <button type="button" class="btn btn-default edit-address-btn" addrId = "{{ address.id }}">Редакция</button>
        <a href="{{ path('remove_address', {addressId:address.id}) }}"><button type="button" class="btn btn-default delete-address-btn" addrId="{{ address.id }}" >Изтриване  </button></a>
    </div>
</div>