{% extends  'base.html.twig' %}

{% block title %} Профил {% endblock %}
{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{ asset('styles/themes/css/form-main.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ asset('styles/themes/js/css/modal.css') }}">
{% endblock %}
{% block  body %}

    {% include 'template-parts/banner-generic.html.twig' with {'pageTitle':"Профил"} %}

    <div class="main-content clearfix">
        {% embed 'template-parts/error-success-pair.html.twig' %} {% endembed %}

        <section class="section">
            <div class="alert alert-info">
                <h4>Потр. име:
                    <small>{{ app.user.username }}</small>
                    , дата на регистраия:
                    <small>{{ app.user.getRegisterDateAsString }} </small>
                </h4>
                <h4>Email адрес:
                    <small>{{ app.user.email }}</small>
                </h4>
            </div>
        </section>

        <section class="section clearfix">
            <h3>Адреси за доставка:</h3>
            <hr>
            <div class="alert alert-info clearfix">
                {% for address in addresses %}
                    {% include  'user-related/templates/display-address.html.twig' with {'address':address} %}
                {% endfor %}
                {% if addresses|length < 1 %}
                    <h4 class="alert alert-danger">Нямате адреси</h4>
                {% endif %}
                <div>
                    <br>
                    <button id="newAddressBtn" class="btn btn-default"><i class="fa fa-plus"></i> <span>Нов адрес</span>
                    </button>
                </div>
            </div>
        </section>

        <section class="section clearfix">
            <h3>Смяна на парола</h3>
            <hr>
            {% embed 'user-related/templates/edit-password-form.html.twig' %} {% endembed %}
        </section>

        <section class="section clearfix">
            <h3>Премахване на профил</h3>
            <hr>
            <button class="btn btn-default" id="removeAccountBtn">Изтриване</button>
        </section>

        {% embed 'user-related/templates/address-modal.html.twig' %} {% endembed %}
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('styles/themes/js/js/modal-manager.js') }}"></script>
    <script src="{{ asset('styles/themes/js/js/profile-page.js') }}"></script>
{% endblock %}