{% extends  'base.html.twig' %}

{% block title %} Профил {% endblock %}

{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{ asset('styles/themes/css/form-main.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ asset('styles/themes/js/css/modal.css') }}">
{% endblock %}

{% block  body %}


    {% include 'template-parts/banner-generic.html.twig' with {'pageTitle':"Профил"} %}

    <div class="main-content clearfix">
        <section class="section">
            <div class="alert alert-info">
                <h4>Потр. име:
                    <small>{{ app.user.username }}</small>
                    , дата на регистраия:
                    <small>{{ app.user.getRegisterDateAsString }} </small>
                </h4>
                <h4>Email адрес:
                    <small>{{ app.user.email }}</small>
                </h4>
            </div>
        </section>

        <section class="section">
            <h2>Адреси за доставка:</h2>
            <hr>
            <div class="alert alert-info clearfix">
                {% for address in addresses %}
                    {% include  'user-related/templates/display-address.html.twig' with {'address':address} %}
                {% endfor %}

                <div>
                    <br>
                    <button class="btn btn-default"><i class="fa fa-plus"></i> <span>Нов адрес</span></button>
                </div>
            </div>
        </section>


        <div id="myModal" class="custom-modal">

            <!-- Modal content -->
            <div class="custom-modal-content">
                <span class="close">&times;</span>
                <p>Some text in the Modal..</p>
            </div>

        </div>

    </div>

{% endblock %}

{% block javascripts %}
<script src="{{ asset('styles/themes/js/js/modal-manager.js') }}"> </script>
    <script>
        let modalManager = new ModalManager;
        console.log(modalManager);
        modalManager.initialize("myModal");
        modalManager.showModal();
    </script>
{% endblock %}