{% extends  'base.html.twig' %}

{% block title %} Профил {% endblock %}

{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{ asset('styles/themes/css/form-main.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ asset('styles/themes/js/css/modal.css') }}">
{% endblock %}

{% block  body %}


    {% include 'template-parts/banner-generic.html.twig' with {'pageTitle':"Профил"} %}

    <div class="main-content clearfix">
        {% if error %}
            <h3 class="alert alert-danger">{{ error }}</h3>
        {% endif %}
        {% if success %}
            <h3 class="alert alert-success">{{ success }}</h3>
        {% endif %}

        <section class="section">
            <div class="alert alert-info">
                <h4>Потр. име:
                    <small>{{ app.user.username }}</small>
                    , дата на регистраия:
                    <small>{{ app.user.getRegisterDateAsString }} </small>
                </h4>
                <h4>Email адрес:
                    <small>{{ app.user.email }}</small>
                </h4>
            </div>
        </section>

        <section class="section">
            <h2>Адреси за доставка:</h2>
            <hr>
            <div class="alert alert-info clearfix">
                {% for address in addresses %}
                    {% include  'user-related/templates/display-address.html.twig' with {'address':address} %}
                {% endfor %}
                {% if addresses|length < 1 %}
                    <h4 class="alert alert-danger">Нямате адреси</h4>
                {% endif %}
                <div>
                    <br>
                    <button id="newAddressBtn" class="btn btn-default"><i class="fa fa-plus"></i> <span>Нов адрес</span>
                    </button>
                </div>
            </div>
        </section>

        {% embed 'user-related/templates/address-modal.html.twig' %} {% endembed %}

    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('styles/themes/js/js/modal-manager.js') }}"></script>
    <script>
        $(function () {
            var addressModalManager = new ModalManager;
            addressModalManager.initialize("addressModal");

            var form = $('#addressForm');
            var addressModalTitle = $('#addressModalTitle');

            var userFullName = $('#userFullName');
            var userPhone = $('#userPhone');
            var userTownship = $('#userTownship');
            var userresidential = $('#userTown');
            var useraddressField = $('#userAddress');
            var userPostCode = $('#userPostCode');
            var userAddressId = $('#userAddressId');

            document.getElementById('newAddressBtn').addEventListener('click', function () {
                addressModalManager.showModal();
                addressModalManager.clearFields();
                form.attr('action', '/user/address/add');
                addressModalTitle.text('Добавяне на адрес');
            });

            $('.edit-address-btn').click(function () {
                var id = $(this).attr('addrId');
                addressModalManager.showModal();
                form.attr('action', '/user/address/edit/' + id);
                addressModalTitle.text('Редакция на адрес');

                $.ajax({
                    method:"GET",
                    url:"/user/address/find/"+id,
                    success:function (data) {
                        var result = JSON.parse(data);
                        var address = result['address'];

                        userPostCode.val(address['postCode']);
                        useraddressField.val(address['address']);
                        userresidential.val(address['residential']);
                        userFullName.val(address['fullName']);
                        userPhone.val(address['phoneNumber']);
                        userAddressId.val(address['id']);

                        userTownship.find('option').removeAttr('selected');
                        userTownship.find('option').toArray().forEach(option=>{
                            var opt = $(option);
                            if(Number(opt.val()) === address['townshipId']){
                                opt.attr('selected', true);
                            }
                        });

                    },
                    error: console.error
                })
            });

            document.addEventListener('keyup', function (ev) {
                if (ev.keyCode === 27) addressModalManager.hideModal();
            });
        });

    </script>

{% endblock %}