{% extends  'base.html.twig' %}

{% block title %} Забравена парола {% endblock %}

{% block  body %}

    {% include 'template-parts/banner-generic.html.twig' with {'pageTitle':"Забравена парола"} %}

<div class="main-content clearfix">
    {% embed 'template-parts/error-success-pair.html.twig' %} {% endembed %}
    <div class="span4">
        {% if user %}
            <form method="post" enctype="multipart/form-data">
                <p>{{ searchParam }}</p>
                <input type="text" disabled value="{{ hiddenMail }}">
                <a href="{{ path('recovery_send_code', {'userId':user.id}) }}"> <button class="btn btn-default" type="button" id="send-code-btn">Изращане на код</button></a>
                <a href="{{ path('recover_user_password', {'userSearchParam':null}) }}"><button type="button" class="btn btn-default">Това не съм аз</button></a>
            </form>
        {% else %}
        <h5>Търсене на потребител</h5>
        <form method="post" enctype="multipart/form-data">
            <input type="text" required name="searchParam" id="search-user-param">
            <button type="button" id="search-user-btn">Търсене</button>
        </form>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            var param = $('#search-user-param');
            $('#search-user-btn').on('click',function () {
               document.location.href = "{{ path('recover_user_password') }}/" + param.val();
            });
        });
    </script>
{% endblock %}